<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{100} - %msg%n</Pattern>
		</encoder>
	</appender>
 
	<!-- Crea el fichero en la raiz fuera del proyecto logger{100} Si en vez de 100 es 36 por ejemplo, si el pattern excede esta longitud en las trazas se ven las breviaturas del paquete  
	logger equivale al nombre del paquete -->
	<appender name="FILE"	class="ch.qos.logback.core.rolling.RollingFileAppender">
	
		<file>/logsdeeclipse/PROStaticLog.log</file>
		
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
		   <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n</Pattern>
		</encoder>
	 
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>/PROStaticLog.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
	 
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
 
  </appender>

	<!-- Muestra solo los mensajes que se generan a partir del paquete seleccionado en la propiedad name -->
	<logger name="net.izfe.prototipo" level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<!-- Muestra solo los mensajes que se generan a partir del paquete seleccionado en la propiedad name
	En este caso serían aquellas trazas generadas en el paquete de spring  -->
	<logger name="org.springframework" level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- Recoge indiscriminadamente todos los mensajes iguales o superiores al nivel seleccionado de cualquiera de los 
	paquetes en ejecución y muestra en consola o fichero según appender-ref   <appender-ref ref="FILE" /> <appender-ref ref="CONSOLE" />...-->	
	<root level="DEBUG">
		<appender-ref ref="FILE" />
		<!-- <appender-ref ref="CONSOLE" /> -->
	</root>

</configuration>